body {
    margin: 0;
    background: #fff9ec;
    font-family: Arial, sans-serif;
    color: #333;
}

/* NAVBAR */
.navbar {
    background: #058f33;
    padding: 20px 0;
}

.nav-container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    height: 80px;
    margin-right: 60px;
    border-radius: 50%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 13px;
    font-weight: bold;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}

.nav-links .active a {
    border-bottom: 2px solid white;
    padding-bottom: 4px;
}

/* CONTACT SECTION */
.contact-section {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 70px 60px;
}

.contact-left {
    max-width: 450px;
}

.contact-left h1 {
    font-size: 34px;
    color: #2faa45;
}

.contact-sub {
    font-size: 18px;
    margin: 15px 0 30px;
}

.contact-left h3 {
    margin-top: 25px;
    color: #2faa45;
}

.socials {
    margin: 10px 0 25px;
    display: flex;
    gap: 15px;
}

.socials a {
    font-size: 20px;
    text-decoration: none;
}

.business-name {
    font-weight: bold;
    color: #0077cc;
}

.address {
    margin-top: 8px;
    line-height: 1.6;
}

/* FORM */
.contact-right {
    background: #2faa45;
    padding: 30px;
    width: 360px;
    border-radius: 18px;
    color: white;
}

.contact-right h2 {
    margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
}

.contact-form textarea {
    height: 120px;
}

.contact-form button {
    background: white;
    color: #2faa45;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* FOOTER */
footer {
    border-top: 1px solid #c4c4c4;
    padding: 25px 0;
    margin-top: 40px;
}

.footer-container {
    width: 90%;
    margin: auto;
    text-align: center;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 12px;
}

.footer-links a {
    text-decoration: none;
    color: #555;
}

.footer-links .active a {
    color: #000;
    font-weight: bold;
}

.footer-icons {
    margin: 20px 0 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-text {
    font-size: 12px;
    color: #666;
}

.footer-number {
    margin-top: 5px;
    font-size: 13px;
    color: #2faa45;
}
